
  <div class="row">
    <div class="col-xs-12">
            <div class="container-select-idea">
                    <div id="select-idea">     
                    <form [formGroup]="selectIdeaForm" >
                        <label for="changeIdea" jhiTranslate="homeapp.selectIdea.main.selectIdea">Select idea</label>
                        <select id="changeIdea" class="custom-select"  formControlName="ideaName" (ngModelChange)="changeIdea()">
                        <option value="" disabled>Choose your idea</option>
                        <option *ngFor="let idea of ideas" [ngValue]="idea.id">{{idea.title}}</option>
                        </select>
                    </form>	
                    </div>
                </div>          
    </div>
</div>

<div class="outter">
  <div class="inner">
    <h2 jhiTranslate="total.main">Total</h2> 
  </div>            
</div>

<div class="row outter titlebar">
    <div class="col-xs-12 inner">
      <p class="title-category">All incomes with investment</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="box">
        <p class="titel-box">Investment</p>
        {{investPerIdea}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <p class="titel-box">All incomes</p>
        {{allIncomesPerIdea}}
      </div>    
    </div>
  </div>

  <div class="row outter titlebar">
    <div class="col-xs-12 inner">
      <p class="title-category">All outgoings with all workinghours</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <p class="titel-box">All outgoings</p>
        {{allOutgoingsPerIdea}}
      </div>  
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="box">
        <p class="titel-box">All costs for workinghours</p>
        {{allWorksheetsPerIdea}}
      </div>  
    </div>
  </div>
