.footer-copyright {
    color: white;
    font-weight: bold;
}

.footer-copyright a {
    display: inline-block;
    padding-left: .5em;
    text-decoration: none; 
    color: white;
}

#heartfull-mind {
    width: 150px;
    height: 150px;
    background: url('../../../content/images/logos/heartfull-mind-logo.png') no-repeat center top;
    background-size: contain;
    margin: 0.5em auto 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#create-your-ideas {
    width: 150px;
    height: 150px;
    background: url('../../../content/images/logos/create-your-ideas-logo.png') no-repeat center top;
    background-size: contain;
    margin: 0.5em auto 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#create-your-humanity {
    width: 150px;
    height: 150px;
    background: url('../../../content/images/logos/create-your-humanity-logo.png') no-repeat center top;
    background-size: contain;
    margin: 0.5em auto 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#create-your-sense {
    width: 150px;
    height: 150px;
    background: url('../../../content/images/logos/create-your-sense-logo.png') no-repeat center top;
    background-size: contain;
    margin: 0.5em auto 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#really-fair {
    width: 150px;
    height: 150px;
    background: url('../../../content/images/logos/really-fair-logo.png') no-repeat center top;
    background-size: contain;
    margin: 0.5em auto 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.links {
    display: block;
}

.outer {
    width: 100%;
}

.inner {
    margin: 0 auto;
}

.fonts {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}