<div id="footer">

    <div class="row outer">
        <div class="col-xs-12 inner">
            <span class="fonts">Headquarter</span>
        </div>
      </div>

  <div class="row">
    <div class="col-xl-4">
      
    </div>
    <div class="col-xl-4">
      <div id="heartfull-mind"></div>
        <a href="https://www.heartfull-mind.org" class="rounded links btn btn-secondary btn-lg active" role="button" aria-pressed="true">Heartfull-Mind SwPL & All</a>
    </div>
    <div class="col-xs-12 col-xl-4">
      
    </div>
  </div>

  <div class="row outer">
      <div class="col-xs-12 inner">
          <span class="fonts">Sub-Units</span>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
        <div id="really-fair"></div>
        <a href="https://www.really-fair.ch/" class="rounded links btn btn-secondary btn-lg active" role="button" aria-pressed="true">Really Fair</a>
    </div>
    <div class="col-md-3">
        <div id="create-your-sense"></div>
        <a href="https://createyoursense.jimdofree.com" class="rounded links btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create Your Sense</a>
    </div>
    <div class="col-md-3">
        <div id="create-your-humanity"></div>
        <a href="https://createyourhumanity.jimdofree.com/" class="rounded links btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create Your Humanity</a>
    </div>
    <div class="col-md-3">
        <div id="create-your-ideas"></div>
        <a href="https://createyourideas.jimdofree.com/" class="rounded links btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create Your Ideas</a>
    </div>
  </div>

<div class="footer-copyright text-center py-3">© 2018 Copyright: