<div>
    <div class="row">
            <div class="col-md-4">
              <div class="container-select-idea">
                    <div id="select-idea">
                    <form [formGroup]="selectIdeaForm" >
                        <label for="changeIdea" jhiTranslate="homeapp.selectIdea.main.selectIdea">Select idea</label>
                        <select id="changeIdea" class="custom-select"  formControlName="ideaName" (ngModelChange)="changeIdea()" [(ngModel)]='paramId'>
                        <option value="0" disabled>Choose your idea</option>
                        <option *ngFor="let idea of ideas" [value]="idea.id">{{idea.title}}</option>
                        </select>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8" *ngIf="selectedIdea">
                    <h2 id="page-heading">
                            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-outgoings" [routerLink]="['/outgoings', selectedIdea.id, 'new']">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span  jhiTranslate="homeApp.outgoings.home.createLabel">
                                Create a new Outgoings
                                </span>
                            </button>
            </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="outgoings?.length === 0">
        <span jhiTranslate="homeApp.outgoings.home.notFound">No outgoings found</span>
    </div>
    <div class="table-responsive" *ngIf="outgoings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="homeApp.outgoings.title">Title</span> <fa-icon [icon]="'sort'"></fa-i    <h2 id="page-heading">
                    <span jhiTranslate="homeApp.outgoings.home.title">Outgoings</span>
                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-outgoings" [routerLink]="['/outgoings/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span  jhiTranslate="homeApp.outgoings.home.createLabel">
                        Create a new Outgoings
                        </span>
                    </button>
                </h2>con></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="homeApp.outgoings.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span jhiTranslate="homeApp.outgoings.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="value"><span jhiTranslate="homeApp.outgoings.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let outgoings of outgoings ;trackBy: trackId">
                <td><a [routerLink]="['/outgoings', outgoings.id, 'view' ]">{{outgoings.id}}</a></td>
                <td>{{outgoings.title}}</td>
                <td>{{outgoings.description}}</td>
                <td>{{outgoings.date | date:'mediumDate'}}</td>
                <td>{{outgoings.value | currency}}</td>

                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/outgoings', outgoings.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/outgoings', outgoings.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(outgoings)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
