<div>
    <h2 id="page-heading">
        <span jhiTranslate="homeApp.profitBalance.home.title">Profit Balances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profit-balance" [routerLink]="['/profit-balance/newProfitBalance']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="homeApp.profitBalance.home.createLabel">
            Create a new Profit Balance
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="profitBalances?.length === 0">
        <span jhiTranslate="homeApp.profitBalance.home.notFound">No profitBalances found</span>
    </div>
    <div class="table-responsive" *ngIf="profitBalances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="profit"><span jhiTranslate="homeApp.profitBalance.profit">Profit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="profitToSpend"><span jhiTranslate="homeApp.profitBalance.profitToSpend">Profit To Spend</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="netProfit"><span jhiTranslate="homeApp.profitBalance.netProfit">Net Profit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span jhiTranslate="homeApp.profitBalance.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idea.id"><span jhiTranslate="homeApp.profitBalance.idea">Idea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let profitBalance of profitBalances ;trackBy: trackId">
                <td><a [routerLink]="['/profit-balance', profitBalance.id, 'view' ]">{{profitBalance.id}}</a></td>
                <td>{{profitBalance.profit}}</td>
                <td>{{profitBalance.profitToSpend}}</td>
                <td>{{profitBalance.netProfit}}</td>
                <td>{{profitBalance.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="profitBalance.idea">
                        <a [routerLink]="['/idea', profitBalance.idea?.id, 'view' ]" >{{profitBalance.idea?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/profit-balance', profitBalance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profit-balance', profitBalance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(profitBalance)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
