<div>
    <h2 id="page-heading">
        <span jhiTranslate="homeApp.idea.home.title">Ideas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-idea" [routerLink]="['/idea/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="homeApp.idea.home.createLabel">
            Create a new Idea
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ideas?.length === 0">
        <span jhiTranslate="homeApp.idea.home.notFound">No ideas found</span>
    </div>
    <div class="table-responsive" *ngIf="ideas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="homeApp.idea.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="logo"><span jhiTranslate="homeApp.idea.logo">Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="homeApp.idea.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ideatype"><span jhiTranslate="homeApp.idea.ideatype">Ideatype</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="interest"><span jhiTranslate="homeApp.idea.interest">Interest</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="investment"><span jhiTranslate="homeApp.idea.investment">Investment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="active"><span jhiTranslate="homeApp.idea.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="homeApp.idea.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idea.id"><span jhiTranslate="homeApp.idea.idea">Idea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let idea of ideas ;trackBy: trackId">
                <td><a [routerLink]="['/idea', idea.id, 'view' ]">{{idea.id}}</a></td>
                <td>{{idea.title}}</td>
                <td>
                    <a *ngIf="idea.logo" (click)="openFile(idea.logoContentType, idea.logo)">
                        <img [src]="'data:' + idea.logoContentType + ';base64,' + idea.logo" style="max-height: 30px;" alt="idea image"/>
                    </a>
                    <span *ngIf="idea.logo">{{idea.logoContentType}}, {{byteSize(idea.logo)}}</span>
                </td>
                <td>{{idea.description}}</td>
                <td jhiTranslate="{{'homeApp.Ideatype.' + idea.ideatype}}">{{idea.ideatype}}</td>
                <td>{{idea.interest}}</td>
                <td>{{idea.investment}}</td>
                <td>{{idea.active}}</td>
                <td>
                    {{idea.user?.id}}
                </td>
                <td>
                    <div *ngIf="idea.idea">
                        <a [routerLink]="['/idea', idea.idea?.id, 'view' ]" >{{idea.idea?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/idea', idea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/idea', idea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(idea)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="ideas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
