.title {
  background-color: #55800B;
  color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 5px;
  padding: 10px;
}

.titlecolumn {
  margin: 0 auto;
}

#pinwall {
  margin: 20px;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.ideaSelect {
  margin: 10px;
}

.outter {
  width: 100%;
}

.inner {
  min-width: 400px;
  margin: 0 auto;
}

.box {
  background-color: #E0D4C8;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 10px;
  margin: 5px;
}