<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div>
    <button (click)="addNode()">Add</button>
    <button (click)="removeNode()">Remove</button>
    <button (click)="getParent()">Parents</button>
  </div>

  <div>
    <button (click)="calculateDailyBalance()">Calc daily balance</button>
    <button (click)="calculateProfit()">Calc profit</button>
    <button (click)="calculateAllLevels()">Calc all profits</button>
    <button (click)="calcCollection()">Calc profit</button>
    <button (click)="calculateDistribution()">Calc distribution</button>
  </div>

  <div id="jsmind_container"></div>
